<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Games list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>The games of <span th:text="${nameuser}">user</span> </h1>

<div th:if="${ not#lists.isEmpty(games)}">
    <table>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Cost</th>
        </tr>
        <tr th:each="game : ${games}">
            <td> <a th:href="@{'/games/' + ${game.id}}" th:text="${game.title}"></a></td>
            <td th:text="${game.year}"></td>
            <td th:text="${game.rating}"></td>
            <td th:text="${game.cost}"></td>
        </tr>
    </table>
</div>

<p><a th:href="@{/}">Home</a> </p>

</body>
</html>